<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sahan.baseballapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".MainPage"
            android:label="@string/title_activity_main_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PositionsActivity" />
        <activity android:name=".WeightTrainingActivity" />
        <activity android:name=".DrillActivity" />
        <activity android:name=".BattingActivity" />
        <activity android:name=".InfieldActivity" />
        <activity android:name=".OutFieldActivity" />
        <activity android:name=".CatcherActivity" />
        <activity android:name=".PitcherActivity" />
        <activity android:name=".YoutubeActivity" />
        <activity android:name=".SetPositionActivity" />
        <activity android:name=".YoutubePlayerActivity" />
        <activity android:name=".OutfieldSkillsActivity"></activity>
    </application>

</manifest>